*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.row {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}


.marg{
  margin:10px;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */


#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}



#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */


.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}



/* PC e DESKTOP VERSION */

@media screen and (min-width:993px) {


}

/* tablet version  */

@media screen and (min-width:769px) and (max-width:992px) {

  #steps{
    background-color: lightgreen;
  }
  #why{
    background-color: white;
  }

}

/* mobile version */

@media screen and (max-width:768px) {
  #lezioni{
    background-color: lightgreen;
  }

  #why{
    background-color: lightgreen;
  }
}
